numpy
streamlit
python-dotenv
langchain-core
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-chroma
chromadb
pypdf
sentence-transformers
transformers
tokenizers
requests
torch
torchvision
torchaudio
